include mixins.pug

doctype html
html
  head
    title Test Jino
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

  body
    
    .wrapper 
      
      .dots(data-js-dots)
        span.dot(data-js-dot='0').active
        span.dot(data-js-dot='1')
        span.dot(data-js-dot='2')

      .slides

        //------ 1 slide

        .slide.slide--1(data-js-slide='0')

          .slide__content
            +logo('#fff')
            .slide__till-date Только до 31 января

            h1.slide__header Честная цена
              br
              span за домен .RU &mdash; 39
                span.rub &#8381;

            form.slide__form.domain(data-js-form='check-domain' enctype='application/x-www-form-urlencoded')
              input.domain__input(data-js-domain-input type='text' name='domain-name' placeholder='example.ru')
              button.domain__submit(data-js-btn='check-domain' type='submit') Проверить
              .domain__info(data-js-domain-info) 
                span(data-js-domain-data) Домен example.ru свободен. 
                a.domain__buy(href='#') Зарезервировать за 39&#8381;

            .slide__cta Создать аккаунт

            .slide__arrow(data-js-arrow)
          
        //------ 2 slide

        .slide.slide--2(data-js-slide='1')

          .slide__content
            +logo('#b22725')

            h2.slide__header Зарегистрировав у нас домен, вы получите

            .slide__benefits.benefits.cf

              .benefit
                .benefit__caption(data-js-open='benefit-description')
                  img.benefit__icon(src='./img/benefits/businesscard.svg' alt='Сайт-визитка')
                  .benefit__title Сайт-визитка
                .benefit__description(data-js-description='1')
                  .benefit__text
                    div
                      p Для любого вашего домена, зарегистрированного на &laquo;Хостинг&raquo;, вы можете в несколько кликов создать простую страницу-визитку. Это удобно, если ваш основной сайт еще не готов, или если домен вам нужен только для почты.
                      p Вы можете разместить здесь краткую информацию о себе или вашем бизнесе, ссылки на аккаунты в соцсетях и любые другие сайты. Создание и поддержка базового варианта сайта-визитки абсолютно бесплатны.

              .benefit
                .benefit__caption(data-js-open='benefit-description')
                  img.benefit__icon(src='./img/benefits/dns.svg' alt='Поддержка DNS')
                  .benefit__title Поддержка DNS
                .benefit__description(data-js-description='2')
                  .benefit__text
                    div
                      p Зарегистрировав домен через &laquo;Хостинг&raquo;, вы бесплатно получаете постоянную возможность изменения NS-записей и направления домена туда, куда вам хочется.
                      p У вас несколько доменов? Мы предоставляем бесплатную поддержку DNS для всех доменов, зарегистрированных и поддерживаемых &laquo;Хостинг&raquo;.
              .benefit
                .benefit__caption(data-js-open='benefit-description')
                  img.benefit__icon(src='./img/benefits/certificate.svg' alt='Сертификат о владении доменом')
                  .benefit__title Сертификат о владении
                    br
                    | доменом
                .benefit__description(data-js-description='3')
                  .benefit__text
                    div
                      p Подтвердите владение доменным именем с помощью официального сертификата &laquo;Хостинг&raquo;. Вам достаточно распечатать документ в формате PDF, который будет доступен в панели управления сразу же после делегирования домена.

              .benefit
                .benefit__caption(data-js-open='benefit-description')
                  img.benefit__icon(src='./img/benefits/autorenewal.svg' alt='Автопродление')
                  .benefit__title Автопродление
                .benefit__description(data-js-description='4')
                  .benefit__text
                    div
                      p С помощью функции &laquo;Автопродление&raquo; больше не нужно беспокоиться о том, что ваш домен внезапно перестанет работать. &laquo;Хостинг&raquo; заблаговременно продлит регистрацию на следующий период и вышлет вам уведомление об этом.

              .benefit
                .benefit__caption(data-js-open='benefit-description')
                  img.benefit__icon(src='./img/benefits/cloud.svg' alt='Облачное хранилище на 20 Гб')
                  .benefit__title Облачное хранилище
                    br
                    | на 20 Гб
                .benefit__description(data-js-description='5')
                  .benefit__text
                    div
                      p Специально для своих клиентов &laquo;Хостинг&raquo; предлагает абсолютно бесплатный сервис — &laquo;Хостинг.Облако&raquo;. Это надежное место для хранения файлов — здесь точно поместится всё. Вы получите постоянный доступ к своей музыке, фотографиям и документам и сможете без труда делиться данными с кем угодно.

              .benefit
                .benefit__caption(data-js-open='benefit-description')
                  img.benefit__icon(src='./img/benefits/freessl.svg' alt='Бесплатный SSL-сертификат')
                  .benefit__title Бесплатный SSL-сертификат
                .benefit__description(data-js-description='6')
                  .benefit__text
                    div
                      p Будучи клиентом &laquo;Хостинг&raquo;, вы можете бесплатно получить SSL-сертификат от удостоверяющего центра Let’s Encrypt. Данный сертификат позволит вашим сайтам работать по безопасному протоколу HTTPS и избежать предупреждений браузера о том, что на сайте используется незашифрованное соединение.
                      p Вы можете легко обзавестись сертификатом: в разделе &laquo;Домены&raquo; вашего аккаунта выберите нужный домен и на странице его настроек перейдите во вкладку &laquo;SSL&raquo;. Сертификат выдаётся по нажатию одной кнопки и продлевается автоматически.

              .benefit
                .benefit__caption(data-js-open='benefit-description')
                  img.benefit__icon(src='./img/benefits/dnssec.svg' alt='DNSSEC в один клик')
                  .benefit__title DNSSEC в один клик
                .benefit__description(data-js-description='7')
                  .benefit__text
                    div
                      p С помощью технологии цифрового подписывания ответа DNS-сервера вы можете застраховаться от возможной его подмены и быть уверенными в том, что посетители вашего сайта не попали на замаскированный сайт злоумышленников.
                      p Для подключения DNSSEC необходимо перейти в соответствующую вкладку в настройках вашего домена и нажать кнопку &laquo;Включить&raquo;.

              .benefit
                .benefit__caption(data-js-open='benefit-description')
                  img.benefit__icon(src='./img/benefits/redirect.svg' alt='Перенаправление')
                  .benefit__title Перенаправление
                .benefit__description(data-js-description='8')
                  .benefit__text
                    div
                      p Зарегистрировав домен на &laquo;Хостинг&raquo;, вы сможете в любой момент просто и бесплатно перенаправить его на любую страницу любого сайта.
                      p У вас есть своя группа в социальной сети? Дайте ей персональный домен и она сможет стать полноценным сайтом, а не только страницей соцсети! Персонифицирование при помощи перенаправления доменного имени от &laquo;Хостинг&raquo; — это дополнительный инструмент в продвижении и идентификации вашей деятельности.

            
            .slide__cta Создать аккаунт


        //------ 3 slide

        .slide.slide--3(data-js-slide='2')

          .slide__content
            +logo('#fff')

            p.slide__preheader Почему стоит выбрать &laquo;Хостинг&raquo;?

            h3.slide__header &laquo;Хостинг&raquo; более 18 лет на рынке,
              br
              | имеет 270 000 довольных клиентов,
              br
              | собственную панель управления
              br
              | и многое другое.

            .slide__cta Создать аккаунт

            .slide__offer.offer
              table
                tbody
                  tr
                    td.offer__text Вы получите 
                      b 1000 баллов
                      | в системе лояльности 
                      a.offer__link(href='#' title='Хостинг.Плюсы') Хостинг.Плюсы
                      |,
                      br
                      | зарегистрировавшись в течении 
                      b 24 часов 
                      | после посещения данной страницы
                    td.offer__points 1000
                      +offer_plus('#fff')

            .slide__copyright &copy; &laquo;Хостинг&raquo;, 2003–2017. &laquo;Хостинг&raquo; является зарегистрированным товарным знаком. Лицензия на телематические услуги связи &#8470; 97495 от 09.03.2012. 
              a(href='#' title='Правовая информация') Правовая информация.












